{% load wagtailimages_tags %}
<br>
<div class="container-fluid">

  <div class="row">

    <div class="col-sm-6 rich_text" style="text-align:center;">
        {{self.rich_text}}
        {% if self.button_page %}
            <a href="{{ self.button_page.url }}" class="btn btn-primary">
                Learn More
            </a>
        {% elif self.button_url %}
            <a href="{{ self.button_url }}" class="btn btn-primary">
                Learn More
            </a>
        {% endif %}
    </div>
  <div class="col-sm-6" >
    {% image self.image fill-300x200 as img %}
    <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
    </div>
  </div>
</div>

<br>